{% extends "base.jinja" %}
{% block content %}
    <h1>Quadro de Alertas - v6</h1>
    {% if motd is iterable %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mensagens</h3>
            </div>
            <div class="panel-body">
                {{ motd }}
            </div>
        </div>
    {% endif %}
    <form action="/" method="post">
        <div class="input-group">
            <input type="text" name="text" class="form-control" placeholder="Seu recado...">
            <span class="input-group-btn">
                <button class="btn btn-secondary">Adicionar!</button>
            </span>
        </div>
    </form>
    <h4>Recados Antigos:</h4>
    {% if message_list is iterable %}
        {% if message_list|length > 0 %}
            <ul class="list-group">
            {% for message in message_list %}
                <li class="list-group-item">{{ message.text }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-info">
                Não existem mensagens!
            </div>
        {% endif %}    
    {% else %}
        <div class="alert alert-danger">
            <strong>Ops!</strong> Não temos banco de dados?
        </div>
    {% endif %}
{% endblock %}
